<div class="row">
  <div class="col-12">
    Search Criteria
  </div>
</div>
<div class="row my-3 ">
  <div class="col-3">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="categoriesMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          All Categories
        </button>
        <div class="dropdown-menu" aria-labelledby="categoriesMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
  </div>
  <div class="col-3">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="audienceMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          All Audience
        </button>
        <div class="dropdown-menu" aria-labelledby="audienceMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
  </div>
  <div class="col-3">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="channelsMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          All Channels
        </button>
        <div class="dropdown-menu" aria-labelledby="channelsMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
  </div>
</div>
