<div class="row">
  <div class="col-12">
    <h3>Search Criteria</h3>
  </div>
</div>
<div class="row my-3 mx-0">
  <div class="col px-2">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button"  (click)="toggleMenu('categoriesMenu')">
          All Categories
        </button>
        <div class="dropdown-menu" id="categoriesMenu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another</a>
          <a class="dropdown-item" href="#">Something</a>
        </div>
      </div>
  </div>
  <div class="col px-2">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" (click)="toggleMenu('audienceMenu')" >
          All Audience
        </button>
        <div class="dropdown-menu" id="audienceMenu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
  </div>
  <div class="col px-2">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" (click)="toggleMenu('channelsMenu')">
          All Channels
        </button>
        <div class="dropdown-menu" id="channelsMenu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
  </div>
  <div class="col px-2">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" (click)="toggleMenu('statusMenu')">
          All Status
        </button>
        <div class="dropdown-menu" id="statusMenu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
  </div>

  <div class="col-3">
    <input type="search" class="form-control" placeholder="Search">
  </div>

  <div class="col">
    <button class="btn btn-warning">Search</button>
  </div>
</div>
