<head>
  <style>
    .my-pagination /deep/ .ngx-pagination .current {
      background-color: #ffc107 !important;
    }

    .my-pagination /deep/ .ngx-pagination a {
      text-decoration: none;
    }
  </style>
</head>

<div class="criteria">
  <div class="container py-2 my-2">
    <div class="criteria_search">
      <div class="row">
        <div class="col-12">
         <h3>Search Criteria</h3>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-2 col-md-6 mb-2">
          <div class="btn-group w-100" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle w-100"
              aria-controls="dropdown-basic">
              All Status <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 mb-2">
          <div class="btn-group w-100" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle w-100"
              aria-controls="dropdown-basic">
              All Channels <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem" *ngFor="let c of channels"><a class="dropdown-item" href="#">{{c.Name}}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 mb-2">
          <div class="btn-group w-100" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle w-100"
              aria-controls="dropdown-basic">
              All Categories <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem" *ngFor="let c of categories"><a class="dropdown-item" href="#">{{c.Name}}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 mb-2">
          <div class="btn-group w-100" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle w-100"
              aria-controls="dropdown-basic">
              All Audience <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem" *ngFor="let c of audiences"><a class="dropdown-item" href="#">{{c.Name}}</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-2">
          <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" autocomplete="off">
        </div>

        <div class="col-lg-1 col-md-6 mb-2">
          <button class="btn btn-warning w-100">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col serviceCard" *ngFor="let cs of catalogService.allData['Services'] | filter:searchText | paginate : { itemsPerPage: 6, currentPage: p}">
    <!-- <div class="col-lg-3 col-md-4 col-sm-6 col serviceCard" *ngFor="let cs of catalogService.allData['Services'] | filter:searchText"> -->
      <app-card [Catalog]="cs"></app-card>
    </div>
  </div>
</div>

<div class="container" *ngIf="catalogService.allData['Services'].length > 8">
  <div class="row my-4">
  <div class="col-12" align = "center">
    <pagination-controls class="my-pagination" (pageChange)="p=$event" previousLabel="" nextLabel=""></pagination-controls>
  </div>
  </div>
</div>
